<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjF0_8_rXXoW04aCJl7lQsbz8lpHBrBH4</string>
	<key>GCM_SENDER_ID</key>
	<string>891880355648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDoctorNearby</string>
	<key>PROJECT_ID</key>
	<string>doctornearby-95dea</string>
	<key>STORAGE_BUCKET</key>
	<string>doctornearby-95dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891880355648:ios:b03a0e660bbadf2165eca5</string>
	<key>DATABASE_URL</key>
	<string>https://doctornearby-95dea-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>